.dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.6fr 3fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "header header "
                    "Sidebar main "
                    "Sidebar main ";

    /* gap: 1rem; */
}

header {
    grid-area: header;
}

main {
    background-color: blue;
    grid-area: main;
}

#Sidebar {
    background-color: blueviolet;
    grid-area: Sidebar;
}


@media (max-width: 767px) {
    .dashboard{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 2fr 0.25fr;
        grid-template-areas: "header "
                    "main "
                    "Sidebar";
    }
    #Sidebar {
        margin-top: 10px;
    }
  }

