.dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: 6rem auto;
    grid-template-rows: 6vh auto;
    grid-template-areas: "header header "
                    "Sidebar main "
                    "Sidebar main ";

    /* gap: 1rem; */
}

header {
    grid-area: header;
}

main {
    /* border: 2px solid rgb(135, 135, 240); */
    grid-area: main;
}

#Sidebar {
    grid-area: Sidebar;
}


@media (max-width: 767px) {
    .dashboard{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6vh auto 4vh; 
        grid-template-areas: "header "
                    "main "
                    "Sidebar";
    }
  }

