.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161F1E;
}

.loadingsettings {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    /* background-color: #161F1E; */
}

.spinner {
    border: 3px solid #fff;
    border-top: 3px solid #1EF0AE;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}